* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  color: #00ff00;
  width: 120px;
}

section {
  background-color: yellow;
}
section h2 {
  color: darkcyan;
}
section article p {
  color: darkolivegreen;
  font-size: 40%;
}

p {
  width: 200px;
  padding: 10px;
  color: grey;
  background-color: #fffaaa;
}

p {
  font-size: 18px;
  font-weight: 400;
}
