* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section>div {
    min-width: 50px;
    min-height: 50px;
    background-color: orange;
    border: 1px solid black;
}
section {
    margin: 30px auto;
    display: flex;
    width: 500px;
    height: 400px;
    background-color: black;
    padding: 10px;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    gap: 10px;
    align-items: center;
}

section>div:nth-child(3) {
    align-self: flex-end;
}

section>div:nth-child(8) {
    align-self: flex-end;
    order: 1;
}

section>div:nth-child(9) {
    align-self: stretch;
}

section>div:nth-child(10) {
    order: 1;
    align-self: flex-start;
}
