$green: #00ff00;
$additional_length: 20px;

h1 {
    color: $green;
    width: 100px + $additional_length;
} 

section  {
    background-color: yellow;
    h2 {
        color: darkcyan;
    }
    article {
        p {
            color: darkolivegreen;
            font-size: 1600px / 400px * 10%;
        }
    }
}

@mixin myColor () {
    width: 200px;
    padding: 10px;
    color: gray;
    background-color: bisque;
}
p {
    @include myColor()
}

%defaultStyle {
    font-size: 18px;
    font-weight: 400;
}
p {
    @extend %defaultStyle
}