* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #070707;
  color: white;
  text-decoration: none;
  font-family: Sen;
  font-style: normal;
}
body div.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: black;
}
body div.container header {
  padding: 0 calc(20px + 52 * ((100vw - 360px) / (1440 - 360)));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body div.container header div {
  height: 24px;
}
body div.container header div img {
  width: 78.429px;
  height: 24px;
}
body div.container header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body div.container header nav button {
  padding: calc(12px + 20 * ((100vw - 361px) / (1440 - 361))) calc(12px + 12 * ((100vw - 361px) / (1440 - 361)));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
body div.container header nav button a {
  color: white;
  text-decoration: none;
  font-family: Sen;
  font-size: calc(10px + 6 * ((100vw - 360px) / (1440 - 360)));
  font-weight: 400;
  line-height: 150%;
  /* 24px */
}
body div.container header nav button.bars {
  display: none;
}
body div.container header nav button:hover {
  background-color: #5221e6;
}
@media screen and (max-width: 360px) {
  body div.container header nav button.nav_btn {
    display: none;
  }
  body div.container header nav button.bars {
    padding-right: 0;
    display: block;
    color: white;
  }
}
body div.container main section.main_screen div.portrait {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0px 84px;
}
body div.container main section.main_screen div.portrait img {
  width: calc(55vw);
  max-height: 650px;
  max-width: 750px;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
body div.container main section.main_screen div.portrait img.plane {
  display: none;
}
@media screen and (max-width: 960px) {
  body div.container main section.main_screen div.portrait img.plane {
    display: block;
  }
  body div.container main section.main_screen div.portrait img.main {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  body div.container main section.main_screen div.portrait img.plane {
    display: none;
  }
  body div.container main section.main_screen div.portrait img.main {
    display: block;
  }
}
body div.container main section.main_screen div.portrait h2 {
  position: relative;
  left: -3.5vw;
  max-width: calc(55vw);
  font-size: calc( min(32px + 46 * ((100vw - 360px) / (1440 - 360)), 78px) );
  font-weight: 700;
  z-index: 2;
}
body div.container main section.main_screen div.portrait h2 span {
  color: rgba(255, 255, 255, 0.5);
}
body div.container main section.main_screen div.portrait h2 p {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  /* 27px */
}
@media screen and (max-width: 1440px) {
  body div.container main section.main_screen div.background_grey {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media screen and (max-width: 768px) {
  body div.container main section.main_screen div.background_grey {
    display: none;
  }
}
@media screen and (max-width: 360px) {
  body div.container main section.main_screen div.portrait {
    display: block;
    padding: 0;
  }
  body div.container main section.main_screen div.portrait img {
    width: calc(100vw);
  }
  body div.container main section.main_screen div.portrait h2 {
    max-width: 100%;
    width: 320px;
    position: static;
    padding: 48px calc(20px + 52 * ((100vw - 360px) / (1440 - 360)));
  }
  body div.container main section.main_screen div.portrait h2 p {
    padding-top: 16px;
  }
}
body div.container main section.experience {
  display: inline-block;
  padding: calc(48px + 72 * ((100vw - 360px) / (1440 - 360))) calc(20px + 52 * ((100vw - 360px) / (1440 - 360)));
}
body div.container main section.experience h6 {
  font-size: 16px;
  font-weight: 700;
  color: #8491a0;
}
body div.container main section.experience h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 690px;
  color: white;
  font-size: calc(32px + 23 * ((100vw - 360px) / (1440 - 360)));
  font-weight: 700;
}
body div.container main section.experience div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}
body div.container main section.experience div div {
  display: block;
  width: 30%;
}
body div.container main section.experience div div h3 {
  font-size: 117px;
  font-weight: 400;
  color: #8491a0;
}
body div.container main section.experience div div h4 {
  font-size: 24px;
  font-weight: 700;
}
body div.container main section.experience div div h4 span.google {
  color: #3cc74e;
}
body div.container main section.experience div div h4 span.facebook {
  color: #609bff;
}
body div.container main section.experience div div h4 span.dribbble {
  color: #e95d90;
}
body div.container main section.experience div div p {
  font-size: 16px;
  font-weight: 400;
  color: #8491a0;
}
@media screen and (max-width: 536px) {
  body div.container main section.experience div div {
    width: 45%;
  }
}
@media screen and (max-width: 360px) {
  body div.container main section.experience div div {
    width: 100%;
  }
}
