/* Каждый параграф внутри div элемента должен быть с размером шрифта 20px */
div p {
    font-size: 20px;
}

/* Первый div элемент в article должен быть с жёлтым фоном */
div {
    background-color: yellow;
}
div~div {
    background-color: transparent;
}

/* span после p должен быть с шириной шрифта 900 */
p~span {
    font-weight: 900;
}

/* Если параграф первый в другом теге то он с красным цветом текста */
p {
    color: red;
}
*~p {
    color: black;
}

/* Если после заголовка текст, то он выделен курсивом */
h2+* {
    font-style: italic;
}
p~* {
    font-style: normal;
}
/* Следующий элемент текста после h2 курсивом */
/* Возможно требуется уточнить задание */

/* Элемент идущий непосредственно после элемента с id=”my_p” должен быть с чёрным фоном и белым цветом текста  */
#my_p+* {
    background-color: black;
    color: white;
}