div p{
    font-size: 20px;
}

article > div:first-of-type{
    background-color: yellow;
}

 p + span {
    font-weight: 900;
}

* > p:first-child {
    color: red; 
}
h2 + span { 
    font-style: italic
}

 #my_p + * { 
    color: white;
    background: black;
}