/* Скопируйте разметку из файла example.html лежащем в той же папке homework. */
/* Подключите к своему файлу стили и выполните следующие пункты (довавляйте классы по своему усмотрению): */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Делаю пошагово, но хороший тон объединять стили по блокам */

/* Все div элементы должны быть строчно-блочными */
div {
    display: inline-block;
}

/* Расстояние между этими элементами должно быть 30px */
div {
    /* margin: 15px; */
    /* margin: 15px 11px 15px 15px; */  /* fixed 4px on spacebar */
    margin: 0 26px 30px 0;    /* соответствует условиб задачи */
}
/* Добавляется пробел между div, т.к. он стал inline, а в HTML перевод строки воспроизводится как пробел */

/* Задайте блокам серую обводку толщиной 5px */
div {
    border: 5px solid gray;
}

/* Внутренние отступы блока сделайте равными 50px по горизонтали и 40px по вертикали */
div {
    padding: 40px 50px;
}

/* Ширина и высота блока должна составлять 180px с учётом обводки */
div {
    width: 180px;
    height: 180px;
}

/* 7-й блок должен быть смещён относительно своего положения вверх на 20px */
.element_7 {
    position: relative;
    top: -20px;
}
/* Добавил class="element_7" для элемента  7, как указано в задании */

/* 3-й блок должен находиться в правом верхнем углу страницы */
.element_3 {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
}
/* Добавил class="element_3" для элемента  3, как указано в задании */

/* 5-й блок должен фиксироваться на экране при скролле */
.element_5 {
    position: sticky;
    top: 0;
}
/* Добавил class="element_5" для элемента  5, как указано в задании */

/* Знаю, что писать много комментариев и по-русски моветон */